body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 100;
    color: #67676b;
     }


h1 {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #3F3D56;
    }

hero {
    width: 592px;
    margin: 0 auto 72px;
    }

h1 span {
    color: #EE24FF;
       }

#footer a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    color:#3F3D56;
    font-weight: bold;
        }

